<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}ChessArena{% endblock %}</title>
  <link rel="stylesheet" href="{{ settings.base_path }}/static/style.css">
  <script src="{{ settings.base_path }}/static/htmx.min.js"></script>
</head>
<body>
  <header>
    {% set admin = True %}
    {% include "_nav.html" %}
  </header>
  <main>
    {% block content %}{% endblock %}
  </main>
</body>
</html>
