<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}ChessArena{% endblock %}</title>
  <link rel="stylesheet" href="{{ settings.base_path }}/static/style.css">
  {% block head %}{% endblock %}
</head>
<body>
  <header>
    {% set admin = False %}
    {% include "_nav.html" %}
  </header>
  <main class="container">
    {% block content %}{% endblock %}
  </main>
  <footer class="site-footer">
    ChessArena
  </footer>
  <script src="{{ settings.base_path }}/static/htmx.min.js"></script>
  {% block scripts %}{% endblock %}
</body>
</html>
